@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;600;800&family=Montserrat:wght@200;400;500;600&family=Poppins&family=Roboto:ital,wght@0,400;0,700;1,100&display=swap');

* {
    font-family:'Roboto', sans-serif;
}

body {
    margin: 0px;
}

.header {
    color: white;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: -35px;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    margin: 7px;
    
}

.header-links{
    display: flex;
    align-items: center;
}

a {
    color: white;
    margin: 7px;
}

.intro {
    color: white;
    background-color: #1F2937;
    padding: 60px;
    display: flex;
}

#hero-text{
    font-size: 48px;
    color: #F9FAF8;
}

#hero-subtext{
    font-size: 18px;
    color: #E5E7EB;
}

#sign-up-button-1{
    background-color: #3882F6;
    color: white;
    border-radius: 4px;
    border: none;
    width: 100px;
    height: 30px;
}

#jelly-bg{
    width: 300px;
    height: auto;
    margin: 40px;
}

.gallery {
    font-size: 36px;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#information{
    display: flex;
    justify-content: center;
    font-size: 36px;
    margin: 60px;
}

.img-carousel{
    display: flex;
    width: 500px;
    justify-content: space-around;
}
.carousel-img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: solid 2px #3882F6;
    border-radius: 6px;
}

.subtext {
    font-size: 10px;
    color: slategray;
    display: flex;
    width: 500px;
}

.quote {
    background-color: #E5E7EB;
    margin-top: 50px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    margin-bottom: -35px;
}

#quote-text{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

#quote-author{
    width: 200px;
    margin-left: auto;
}

.action-wrapper{
    background-color: #3882F6;
    color: white;
    border-radius: 6px;
    margin: 80px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    align-items: center;
}

#action-text{
}

#signup-text{
    width: 300px;
}
#action-button{ 
    background-color: #3882F6;
    color: white;
    border-radius: 4px;
    border: solid #E5E7EB;
    width: 100px;
    height: 30px;
    margin: 20px;
    margin-left: auto;
    
}

footer {
    color: white;
    background-color: #1F2937;
    margin-bottom: -12px;
    padding: 20px;
    display: flex;
    justify-content: center;
}